# Ignore all
*

# Ignore all inside folders
*/*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignoring cmake.pdf (too heavy for uploading on GitHub)
cmake.pdf

# Ignoring vscode folder
.vscode
